# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Project Specific
results/
data/
*.pkl
*.pth
*.pt
stylegan2-ada-pytorch/

# Mac
.DS_Store
